<div fxFlex fxLayout="column">
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <mat-toolbar-row>
            <button fxShow fxHide.gt-xs (click)="sidenav.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <a mat-button routerLink="/home">Sel Project</a>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="example-container-sidenav">
        <mat-sidenav fxLayout="column" color="primary" #sidenav [opened]="mobileQuery.matches ? 'false' : 'true'" [mode]="mobileQuery.matches ? 'over' : 'side'">
            <mat-nav-list>
                <a mat-list-item routerLink="/my-profile">My profile</a>
                <a mat-list-item routerLink="/demands">Demands</a>
                <a mat-list-item routerLink="/offers">Offers</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlex>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
